essential:-
	- create account
	- create offers (text only) - upload photo of offer
	- buy product (mark as sold)
	- premium seller's products should be at the top

necessary:-
	- search for products
	- different categories 
	- edit the offers, store previous offers, and u should be able to see the previous offers in seller dasboard, 
	(seller offer history)
	- chat bot for communication b/w seller and product
		should be available before buying the product, it can be availabe after buying the

	- different sorting criterias for results	
		* price low to high
		* price high to low
		* customer satisfaction ratio
		* newest arrivals
	- database cleanup
nice to have:- 
	- awards for selling lot of products
	- customer satisfaction ratio

	- dont show full information about the sellers prior to buying from them (like personal information)
		* purchase sucessful page, purchase history
	- high discount products should be at top (by default in the same product category/search)
	- recommend products (normal recommedation) - either products from same category or products of the same seller (can be shown at purchase successful page)

#-----------
- add product
- submit rating - done 
- add product name in offer hist  with discount - done
- premium seller's products should be at the top - done 
- small install guide
- load env variables from .env file instead of os environ (try running from cmd)
- scroll bar for offer history - done 
- execute query within cursor 2 places ig
- sort by discount and date - done 