{% extends 'layout.html'%}
{%block css%}
    <link rel="stylesheet" href="/static/css/soldTag.css">
{%endblock%}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id='b_image'>
            <div class="productTag">   
                <img src="/static/images/products/{{product.pCode}}" alt="test" width="400px">
                {%if product.sold == '1'%}
                    <span class="sold-tag">SOLD</span>
                {%endif%}
            </div>
        </div>
        <div class="col-md-6">
            <h4>{{product.pName}}</h4>
            <hr>
                {%if product.offerPrice != 0.0%}
                    <p>
                      <span style="text-decoration: line-through;">Price: &euro;{{product.price}}</span>
                      <span>&nbsp;Offer Price: &euro;{{product.offerPrice}} </span>
                    </p>
                {%else%}
                    <p>Price: &euro;{{product.price}} </p>
                {%endif%}
            <p class="quantity" data-quantity="{{product.quantity}}">Quantity : {{product.quantity}}</p>
            <p>Product Date : {{product.pdate}}</p>
            <strong>About this item:</strong>
            <ul>
                {% for line in product.pdescription.split('\n')%}
                    <li>{{line}}</li>
                {%endfor%}
            </ul>
            {% if product.sold != '1'%}

                <form method="POST" action="/user/buy-add-product/{{product.pid}}">
                    <div class="form-floating mb-3 col-3">
                      <input type="number" class="form-control rounded-3" name="quantity" id="input-quantity" style="height: 50px;">
                      <label for="input-quantity">Enter Quantity</label>
                      <span id="validationError" style="display: none; color: red;">Input value must be less than or equal to {{product.quantity}} and greater than 0</span>
                    </div>
                      <button type="submit" name="action" value="buyNow" class="btn btn-primary btn-lg" id="buyBtn"  disabled >Buy Now</button>                    
                      <button type="submit" name="action" value="a2c" class="btn btn-secondary btn-lg" id="a2cBtn" disabled>Add to cart</button>
                </form>
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}
{% block js%}
  <script type="text/javascript" src="/static/js/validateQuantity.js"></script>
{% endblock%}