{% extends 'layout.html'%}

{%block css%}
	    <link rel="stylesheet" href="/static/css/productCard.css">
{%endblock%}

{%block content%}
	<div class="d-flex justify-content-center align-items-center p-3 my-3 rounded shadow-sm" style="height: 80px; ">
		<div class="row">
	    <div class="col-6 text-center">
	      <h1>Your Products</h1>
	    </div>
	    <div class="col-3 text-center">
	      <button class="btn btn-lg rounded-3 btn-primary" type="submit" style="position: absolute; right: 0;">
	      	Add Product
	      </button>
	      <a href="/chat/sellerChatPage">
	      	<button class="btn btn-lg rounded-3 btn-primary"
	      	style="position: absolute; left: 0;">
	      		Chat
	      	</button>
	      </a>
	    </div>
	    </div>
	  </div>
	</div>
	{%if grouped_products%}
	    {%for category,group in grouped_products%}
	    	<div class="container px-4 py-5" id="custom-cards">
		    	<h2 class="pb-2 border-bottom">{{category}}</h2>
		    	<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
		    		{%for product in group%}
		    			{%include 'seller/productCard.html'%}
		    		{%endfor%}
	    		</div>
	    	</div>
	    {%endfor%}
    {%else%}
    	<h3 class="d-flex justify-content-center align-items-center p-3 my-3 rounded shadow-sm">You have No products yet, to sell!</h3>
    {%endif%}

 	<div class="container px-4 py-5" id="custom-cards">
	    	<h2 class="pb-2 border-bottom">Best Seller of the Month</h2>
    	<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
		    {%for seller in grouped_sellers%}
    			{%include 'seller/sellerCard.html'%}
    		{%endfor%}
 		</div>
 	</div>
  <div style="overflow: auto; max-height: 400px;">
    <table class="table table-dark">
    	<thead style="position: sticky; top: 0; z-index:1;">
    	  <tr>
    		<th scope="col">#</th>
    		<th scope="col">Offer Price</th>
        <th scope="col">Timestamp</th>
    		<th scope="col">Product Name</th>
    	  </tr>
    	</thead>
  		<tbody>
        {%if offer_history%}
          {%for offer in offer_history%}
    		  <tr>
    			<th scope="row">{{offer.id}}</th>
    			<td>{{offer.offerPrice}}</td>
          <td>{{offer.timestamp}}</td>
    			<td>
    				<a href="/seller/viewProduct/product.pid">{{offer.pName}}
    				</a>
    			</td>
    		  </tr>
    		  {%endfor%}
        {%endif%}
  		</tbody>
	  </table>
  </div>

{%endblock%}

{% block js%}
	<script type="text/javascript" src="/static/js/assignRoute2Card.js"></script>
{% endblock%}