<div class="row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-body">
        <h5>You searched for "{{searched}}"</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <!-- Dropdown -->
        <div class="btn-group">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by:</button>
          <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
              <li><a class="dropdown-item rounded-2" href="filter/p_asc">Price: low to high</a></li>
              <li><a class="dropdown-item rounded-2" href="filter/p_dsc">Price: high to low</a></li>
              <li><a class="dropdown-item rounded-2" href="filter/p_date">Newest arrivals</a></li>
              <li><a class="dropdown-item rounded-2" href="filter/p_csr">Customer satisfaction</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

