{% extends 'layout.html'%}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id='b_image'>
            <img src="/static/images/test_product.jpg" alt="test" width="400px">
        </div>
        <div class="col-md-6">
            <h4>Product Name</h4>
            <hr>
            <h5>By: brand name</h5>
            <p>Price: price of the product</p>
            <strong>Desciption:</strong>
            <p>text description</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, incidunt. Quidem minus fugiat magnam nihil. Accusantium totam cum quasi, atque excepturi asperiores illo minima nostrum fuga iste. Aliquid nostrum provident veritatis nesciunt dignissimos neque impedit? Odit commodi quis eum voluptatum quisquam veritatis autem quaerat modi officiis harum, dolorem, illo quod, vel quasi dolor quas. Alias adipisci doloremque ex pariatur dolorum sed at placeat tempora modi, eligendi magni, impedit id, perspiciatis ipsum nesciunt fugit inventore sapiente maiores eveniet culpa repellendus illum debitis voluptatum? Iure quaerat provident ullam, facilis repellat, non sed atque commodi ipsam, quia inventore! Dignissimos amet repellat expedita repudiandae.</p>
            <hr>
            
        </div>
    </div>
</div>

{% endblock %}