{% extends "layout.html"%}
{% block content %}
	<br/>
	{%include 'bootstrap/dropdown.html'%}
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 proGrid">
		{%for product in products%}
			{%include 'products/productCards.html'%}
		{%endfor%}
	</div>
{% endblock %}

{%block js%}
	<script src="/static/js/sort.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script> -->
{%endblock js%}