{% extends 'auth/authLayout.html'%}

{% block alert %}
	{% if user_exists == True %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
          User already exists. Please click <a href="auth/login"  class="alert-link">here</a> to login.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
	{% endif%}
{% endblock%}

{% block heading%}
	<h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
{% endblock%}

{% block content %}
	<div class="form-floating mb-3">
        <input type="text" class="form-control rounded-3" name="name" id="floatingName" placeholder="Jose Muller">
        <label for="floatingName">FullName</label>
    </div>
    <div class="form-floating mb-3">
	    <input type="email" class="form-control rounded-3" name="email" id="floatingEmail" placeholder="name@example.com">
	    <label for="floatingEmail">Email address</label>
	</div>
{% endblock %}

{% block button %}
	<button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
	
	<small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
	<script>
	    var form = document.getElementById("extended_form");
	    var actionUrl = "/auth/signup"; //set the action URL dynamically here
	    form.action = actionUrl;
	</script>
{% endblock %} 

